img{
    transform-origin: top center;
    position: absolute;
}

body{
    overflow: hidden;
}

.parachute.dead{
    opacity: 1;
    animation: shrink 3s ease-out forwards;
}

img.alive{
    transform-origin: top center;
    animation: sway 1s infinite alternate ease-in-out;
}

img.dead{
    transform-origin: bottom center;
    opacity: 0;
    animation: fadeout 90s;
}

.yeet{
    transform-origin: center center;
    animation: popin 2s;
}

.yoink{
    transform-origin: center center;
    animation: popin 2s;
}

@keyframes sway{
    from{
        transform: rotate(-10deg);
    }to{
        transform: rotate(10deg);
    }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes popin{
    0%{
        transform: scale(0)
    }
    50%{
        transform: scale(1.25)
    }100%{
        transform: scale(0);
    }
}

@keyframes growin{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}