@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

text {
  font-family: 'Bowlby One SC', cursive;
}

#t1{
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}